/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-title {
    color:#5D8E9A;
}
.btn-color {
    background-color: #5D8E9A;
    color: white;
}